body {
  background-color: transparent;
  overflow: hidden;
}

.modal {
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  color: white;
  flex-grow: 1;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  display: flex;
  flex-flow: column;
  position: relative;
  align-items: center;
  background-color: var(--color-accent-2);
}

.modal.modal-show {
  animation: zoom-in 0.25s forwards;
}

.modal.modal-hide {
  animation: zoom-out 0.25s forwards;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoom-out {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
.modal .modal-icon {
  height: 50px;
  width: 50px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.modal .modal-title {
  color: var(--color-background);
}

.modal .modal-title h3 {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
}

.modal .modal-title .text {
  margin: 10px 0 0;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.modal .modal-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  mask-repeat: no-repeat !important;
  mask-size: auto auto !important;
  -webkit-mask-repeat: no-repeat !important;
  -webkit-mask-size: auto auto !important;
  mask: url("../../images/waves/modal-waves.svg");
  -webkit-mask: url("../../images/waves/modal-waves.svg");
  width: 100%;
  min-height: 65px;
  mask-position: right bottom;
  -webkit-mask-position: right bottom;
  background-color: var(--color-background);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.modal-resources {
  display: flex;
  flex-flow: column;
  position: relative;
  align-items: center;
  padding: 7px;
}
.modal-resources .title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 7px;
}
.modal-resources .description {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  margin: 0 0 10px;
  text-align: center;
}
.modal-resources .resource-list {
  display: flex;
  flex-flow: column;
  background-color: var(--color-dark-accent);
  border-radius: 10px;
  padding: 7px;
  overflow-y: auto;
  flex-grow: 1;
  width: 100%;
}
.modal-resources .resource-list .resource {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 5px;
  border-radius: 8px;
}
.modal-resources .resource-list .resource .title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}
.modal-resources .resource-list .resource .path {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}
.modal-resources .resource-list .resource .icon-button-container {
  position: absolute;
  right: 5px;
}
.modal-resources .resource-list .resource .icon-button-container:hover {
  background-color: transparent;
}
.modal-resources .resource-list .resource .invalid {
  position: absolute;
  right: 35px;
  width: 20px;
  height: 20px;
}
.modal-resources .button-container {
  margin-top: auto;
}
.modal-resources .button-container .button {
  background-color: var(--color-dark-accent);
}
.modal-resources .close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 25px;
  height: 25px;
  filter: invert(1);
  cursor: pointer;
}
.modal-resources .close:hover {
  filter: invert(13%) sepia(72%) saturate(4779%) hue-rotate(347deg) brightness(109%) contrast(94%);
}

/*# sourceMappingURL=modal.css.map */
