.tab-holder {
    display: flex;
    position: relative;
    &.tab-horizontal {
        flex-flow: row;
        align-items: center;
        height: 35px;
    }
    &.tab-vertical {
        flex-flow: column;
        align-items: center;
        height: 35px;
        .tab {
            justify-content: flex-start;
        }
    }
    .tab {
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        padding: 0 10px;
        transition: background-color 0.2s ease-in-out;
        cursor: default;
        &:hover {
            background-color: var(--color-dark-accent-foreground-2);
        }
        &.new-tab {
            background-color: var(--color-foreground-p50);
        }
        .tab-close-button {
            opacity: 50%;
            height: 15px;
            width: 15px;
            cursor: pointer;
            margin-left: 2px;
            filter: invert(1);
            &:hover {
                opacity: 80%;
            }
        }
        &.image-tab {
            flex-flow: column;
            font-size: 9px;
            height: 50px;
            padding: 0;
            margin: 0;
            width: 100%;
            img {
                padding: 3px 0;
                width: 30px;
                height: 30px;
                filter: invert(0.7);
            }
            &.tab-selected {
                img {
                    filter: invert(1);
                }
            }
        }
        &.animated-image-tab {
            flex-flow: column;
            font-size: 9px;
            height: 50px;
            padding: 0;
            margin: 0;
            width: 100%;

            .icon-holder{
                position: relative;
                width: 30px;
                height: 30px;

                img {
                    position: absolute;
                    padding: 3px 0;
                    width: 30px;
                    height: 30px;
                    transition: opacity 0.2s ease-in-out;
                    opacity: 0;

                    &.img-grayscale{
                        filter: invert(0.7);
                    }

                    &.icon-sel{
                        opacity: 1
                    }
                }
            }
            &.tab-selected {
                img.img-grayscale {
                    filter: invert(1);
                }
            }
        }
        .tab-small-icon {
            width: 15px;
            height: 15px;
            margin-right: 5px;
        }
    }
    .tab-border {
        position: absolute;
        background-color: var(--color-accent-2);
        &.tab-down {
            bottom: 0;
            height: 3px;
            transition: width 0.25s cubic-bezier(.79,.14,.15,.86), left 0.25s cubic-bezier(.77,0,.18,1), background-color 0.25s ease-in-out;
        }
        &.tab-up {
            top: 0;
            height: 3px;
            transition: width 0.25s cubic-bezier(.79,.14,.15,.86), left 0.25s cubic-bezier(.77,0,.18,1), background-color 0.25s ease-in-out;
        }
        &.tab-left {
            left: 0;
            width: 3px;
            transition: height 0.25s cubic-bezier(.79,.14,.15,.86), top 0.25s cubic-bezier(.77,0,.18,1), background-color 0.25s ease-in-out;
        }
        &.tab-right {
            right: 0;
            width: 3px;
            transition: height 0.25s cubic-bezier(.79,.14,.15,.86), top 0.25s cubic-bezier(.77,0,.18,1), background-color 0.25s ease-in-out;
        }
    }
    .tab-add-button {
        opacity: 50%;
        height: 20px;
        width: 20px;
        cursor: pointer;
        margin-left: 5px;
        &:hover {
            opacity: 80%;
        }
    }
    .divider {
        width: calc(100% - 10px);
        margin: 10px 5px 0;
        height: 1px;
        background-color: #d0d0d0;
    }
}
.tab-element {
    position: relative;
}
