<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->

    <!-- styles -->
    <link rel="stylesheet" href="../assets/styles/util/global.css">

    <link rel="stylesheet" href="../assets/styles/view/loader.css">

</head>
<body>
<div class="background">

</div>
<div class="content">
    <div class="title-bar">
        <img src="../assets/icons/logo.png">
        <h1>ModBuilder</h1>
        <h4>by matez</h4>
    </div>
    <div class="loader-bar">

    </div>
</div>
</body>
</html>